<% unless branch == nil %>
    <% f = branch.leafs.first %>
    <% unless f == nil %>
      <div class="branch">
        <div class="firstleaf">
            <div class="replylink"><%= link_to 'Reply', "leafs/new?branch=#{branch.id}" %></div>
            <p>
              <b>Name:</b>
              <% unless f.name.empty? %>
                <%= f.name %>
              <% end %>
            </p>
            <p>
              <b>Time:</b>
              <%= f.created_at %>
            </p>
            <% unless f.photo.url == "/photos/original/missing.png" %>
              <%= link_to (image_tag f.photo.url(:thumb), :class=> 'thumb'), f.photo.url %> 
            <% end %>
            <blockquote>
            <p>
            <% unless f.content.empty? %>
              <%= f.content %>
            <% end %>
            </p>
            </blockquote>
            </div>
    <% end %>
    <% for i in 1..branch.leafs.length-1 %>
      <%= render branch.leafs[i] %>
    <% end %>
  </div>
  <br style="clear:both;"/>
  <hr />
<% end %>
