- unless branch == nil
  - f = branch.leafs.first
  - unless f == nil
    %div.branch
      %div{:class => "firstleaf", :id => "#{f.id}"}
        - if !reply_mode?
          %div.replylink=link_to 'Reply', "/leafs/new?branch=#{branch.id}"
        = render f
  - for i in 1..branch.leafs.length-1
    %div{:class => "leaf", :id => "#{branch.leafs[i].id}"}
      = render branch.leafs[i]
%br{:style => "clear:both"}
%hr
