<p id="notice"><%= notice %></p>

<h2>Reply</h2>
<p>
  <b>Last post in this thread:</b>
  <%= @branch.last_post_at %>
</p>
<div class="hide">
  <%= $theid = @branch.id %>
  <%= @leaf = Leaf.new %>
</div>
<%= render 'leafs/form' %>

<% f = @branch.leafs.first %>
<div class="branch">
  <div class="firstleaf">
      <p>
        <b>Name:</b>
        <%= f.name %>
      </p>
      <p>
        <b>Time:</b>
        <%= f.created_at %>
      </p>
      <% unless f.photo.url == "/photos/original/missing.png" %>
      <%= link_to (image_tag f.photo.url(:thumb), :class=> 'thumb'), f.photo.url %> 
      <% end %>
      <blockquote>
      <p><%= f.content %></p>
      </blockquote>
  </div>
<% for i in 1..@branch.leafs.length-1 %>
<%= render @branch.leafs[i] %>
<% end %>
</div>


<!-- <%= link_to 'Edit', edit_branch_path(@branch) %> -->
<%= link_to 'Back', branches_path %>
