<%= form_for(@leaf, :html => { :multipart => true}) do |f| %>
  <% if @leaf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@leaf.errors.count, "error") %> prohibited this leaf from being saved:</h2>

      <ul>
      <% @leaf.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="postarea">
    <table>
      <tr>
      <td>Name</td>
      <td class="field">
        <input type="text" name="leaf[name]" cols="80" rows="20"><%= @leaf.name%></textarea>
      </td>
      </tr>
      <tr>
      <td>Post</td>
      <td class="field">
        <textarea name="leaf[content]" cols="48" rows="4"><%= @leaf.content %></textarea>
      </td>
      </tr>
      <tr>
      <td>Photo</td>
      <td class="field">
        <input type="file" name="leaf[photo]"><div class="hide"><%= @leaf.photo%></div></textarea>
      </td>
      </tr>
  </table>
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
<% end %>
