<%= link_to_file(leaf)  %>
<span class="thumbnailmsg">Thumbnail displayed, click image for full size.</span>
<br/>
<%= display_photo(leaf) %>
<label>
  <%= check_box_tag "delete[]", leaf.id, false, :id => "delete_#{leaf.id}" %>
  <span class="filetitle"></span>
  <span class="postername">
    <%= postername(leaf) %>
    <%= leaf.created_at %>
  </span>
</label>
<span class="reflink">
  <%= reflink(leaf) %>
</span>
<%= reply_link(leaf) %>
<blockquote>
  <%= display_content(leaf) %>
</blockquote>
