%table
  %tbody
    %tr
      %td{:class=>"doubledash"}
        >>
      %td{:class=>"reply", id=>"reply#{leaf.id}"}
        %span{:class => "filesize"}
          File: 
          - unless leaf.photo_file_name == nil
            = link_to leaf.photo_file_name, leaf.photo.url, :target => "_blank"
            =" -("
            %em
              =leaf.photo_file_size.to_s+" B"
            =")"
          - else
            No file
        %span{:class => "thumbnailmsg"}
          Thumbnail displayed, click image for full size.
        %br
        - unless leaf.photo.url == "/photos/original/missing.png"
          - if leaf.photo.url =~ /\.svg\?\d+$/
            = link_to (image_tag leaf.photo.url(:original), :class=> 'thumb', :style=> 'max-width: 300px; max-height: 300px;'), leaf.photo.url, :target => "_blank"
          - else
            = link_to (image_tag leaf.photo.url(:thumb), :class=> 'thumb'), leaf.photo.url, :target => "_blank"
        %label
          = check_box_tag "delete[]", leaf.id
          %span{:class => "filetitle"}
          %span{:class => "postername"}
            - if leaf.name == ""
              = "Anonymous"
            - else
              = leaf.name
          = leaf.created_at
        %span{:class => "reflink"}
          - if reply_mode?
            = link_to_function "No. #{leaf.id}", "insert_emoticon('>>#{leaf.id}')"
          - else
            = link_to "No. #{leaf.id}", "/leafs/new/#{leaf.branch_id}##{leaf.id}"
        %blockquote
          - unless leaf.content.empty?
            %p=simple_format(auto_link(leaf.content))
