<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @leaf.name %>
</p>

<p>
  <b>Content:</b>
  <%= @leaf.content %>
</p>


<%= link_to 'Edit', edit_leaf_path(@leaf) %> |
<%= link_to 'Back', leafs_path %>
