= form_for newpost, :html => { :multipart => true } do |f|
  - if leaf.errors.any?
    %div#error_explanation
      %h2="Uh oh, you got" + pluralize(leaf.errors.count, "error") + "!"
      %ul
      = leaf.errors.full_messages.each do |msg|
        %li
          = msg
  %div.postarea_container
    = fields_for leaf do |l|
      %div.postarea
        = hidden_field_tag("branch_id", branch.id)
        %table
          %tr
          %td.fieldlabel Name
          %td.field
            = l.text_field :name, :cols => 80, :rows => 20, :class=>"formbox"
          %tr
          %td.fieldlabel  Post
          %td.field
            = l.text_area(:content, :cols => 48, :rows => 4, :class => "formbox")
          %tr
          %td.fieldlabel  Photo
          %td.field
            = l.file_field :photo, :class=>"formbox"
    %div.actions
      = f.submit(:class => 'submitbutton', :value => 'Post')
    - if SMILEY_ASSIST == true
      %div#smiley_toggle
        = link_to_function "(´ε`)", visual_effect(:toggle_appear, "smiley_helper", :duration => 0.5)
      %div#smiley_helper{:style=>"display:none"}
        %h3 smiley assistant
        = link_to_function "(´ε`) click me to close", visual_effect(:toggle_appear, "smiley_helper", :duration => 0.5)
        %br
        - faces.each do |f|
          = link_to_function f, "insert_emoticon('" + f + "')"
          %br
