<!DOCTYPE html>
<html>
<head>
  <title><% BOARDTITLE %></title>
  <% theme_basenames.each do |t| %>
    <%= stylesheet_link_tag "themes/" + t, :title => t %>
  <% end %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="themes">
<% theme_basenames.each do |t| %>
  <%= link_to_function t, "set_stylesheet('"+t+"')" %>
<% end %>
</div>
<h1><%= link_to BOARDTITLE, new_branch_path %></h1>
<% flash.each do |key, value| %>
  <div class="<%="flash_#{key}"%>">
      <h2><%= value %></h2>
        Great work!
  </div>
<% end %>

<%= yield %>

</body>
</html>
